//* 1150px
@media screen and (max-width: 1150px) {
	body {
		//* query
		.query {
			.container {
				.left {
					flex: 1;
				}
				.right {
					display: none;
				}
			}
		}
	}
}

//* 850px
@media screen and (max-width: 850px) {
	body {
		//* contact-info
		.contact-info {
			height: 130vh;

			.container {
				flex-direction: column;
				.left {
					flex: 0.1;
					display: grid;
					grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
					grid-gap: 1rem;
					margin: 1rem;

					.details {
						margin: 0rem 1rem;
					}
				}
				.right {
					flex: 0.9;
				}
			}
		}
	}
}

//* 650px
@media screen and (max-width: 650px) {
	body {
		//* query
		.query {
			.container {
				.left {
					.info {
						display: grid;
						grid-template-columns: repeat(
							auto-fit,
							minmax(200px, 1fr)
						);

						.info-content {
							margin: 1rem 0;
						}
					}
				}
			}
		}
	}
}

//* 450px
@media screen and (max-width: 450px) {
	body {
		//* query
		.query {
			.container {
				.left {
					.social-media {
						h2 {
							font-size: 20px;
						}
						ul {
							display: flex;
							flex-direction: column;
							align-items: flex-start;
							.links {
								font-size: 12px;
								margin: 0.5rem 0;
							}
						}
					}
				}
			}
		}
	}
}