.header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.header .container {
  position: relative;
  z-index: 2;
}

.header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  .header {
    background: url("https://source.unsplash.com/XT5OInaElMw/1600x900") black
      no-repeat center center scroll;
  }

  .header video {
    display: none;
  }
}

/* Services section Start */

.service-section {
  font-family: "calibri";
  /* font-weight: 600; */
  padding-bottom: 10%;
  margin-top: 100px;
}

.service-section .service-info p a {
  color: #1a1a1a;
}

.service-section .box {
  color: black;
  width: 100%;
  display: block;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 42px 29px -31px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 42px 29px -31px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 42px 29px -31px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.service-section .box .icon span {
  font-size: 100px;
}

.service-section .box h3 {
  font-size: 17px;
  /* font-weight: bold !important; */
  text-transform: uppercase;
}

.service-section .service-form {
  width: 100%;
}

.block-9 .form-control {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 15px;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.mb-4 {
  color: #1a1a1a !important;
  letter-spacing: 0.1em;
  font-family: "calibri";
  font-weight: bold;
}

.link-mb-4 {
  color: #000;
  text-decoration: none;
  text-decoration-line: none;
}

.link-mb-4 :hover {
  text-decoration: none !important;
  text-decoration-line: none;
}

.order-md-last {
  -webkit-box-ordinal-group: 14;
  -ms-flex-order: 13;
  order: 13;
}

/* Services section End */
