@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
a,
a:hover {
  text-decoration: none;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
  margin: 2rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
}

/* Cards */
.Complain_card {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
          box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}

.Complain_card.light {
  background-color: #e1e5ea;
}

.Complain_card .t-dark {
  color: #18151f;
}

.Complain_card a {
  color: inherit;
}

.Complain_card h1,
.Complain_card .h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.Complain_card .small {
  font-size: 80%;
}

.Complain_card .Complain_card__title {
  font-size: 1.75rem;
}

.Complain_card .Complain_card__bar {
  width: 50px;
  height: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  -webkit-transition: width 0.2s ease;
  transition: width 0.2s ease;
}

.Complain_card .Complain_card__text {
  padding: 1.5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Complain_card .Complain_card__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
}

.Complain_card .Complain_card__tagbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Complain_card .Complain_card__tagbox .tag__item {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.Complain_card .Complain_card__tagbox .tag__item:hover {
  background: rgba(192, 186, 186, 0.8);
}

.Complain_card:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #7987ad, transparent 50%);
  opacity: 1;
  border-radius: 10px;
}

.Complain_card:hover .Complain_card__bar {
  width: 100px;
}

@media screen and (min-width: 769px) {
  .Complain_card {
    -ms-flex-wrap: inherit;
        flex-wrap: inherit;
  }
  .Complain_card .Complain_card__title {
    font-size: 2rem;
  }
  .Complain_card .Complain_card__tagbox {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .Complain_card .Complain_card__text {
    padding: 3rem;
    width: 100%;
  }
  .Complain_card .media.Complain_card__text:before {
    content: "";
    position: absolute;
    display: block;
    background: #18151f;
    top: -20%;
    height: 130%;
    width: 55px;
  }
  .Complain_card:nth-child(2n + 1) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .Complain_card:nth-child(2n + 0) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .Complain_card:nth-child(2n + 1) .Complain_card__text::before {
    left: -12px !important;
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  .Complain_card:nth-child(2n + 0) .Complain_card__text::before {
    right: -12px !important;
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
}

@media screen and (min-width: 1024px) {
  .Complain_card__text {
    padding: 2rem 3.5rem;
  }
  .Complain_card__text:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 55px;
  }
  .Complain_card.dark .Complain_card__text:before {
    background: #18151f;
  }
  .Complain_card.light .Complain_card__text:before {
    background: #e1e5ea;
  }
}

/* COLORS */
.Complain_card .Complain_card__tagbox .green.play:hover {
  background: #79dd09;
  color: black;
}

.green .Complain_card__title:hover {
  color: #79dd09;
}

.green .Complain_card__bar {
  background-color: #79dd09;
}

.green::before {
  background-image: linear-gradient(-30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.green:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.Complain_card .Complain_card__tagbox .blue.play:hover {
  background: #0076bd;
}

.blue .Complain_card__title:hover {
  color: #0076bd;
}

.blue .Complain_card__bar {
  background-color: #0076bd;
}

.blue::before {
  background-image: linear-gradient(-40deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.blue:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.Complain_card .Complain_card__tagbox .red.play:hover {
  background: #bd150b;
}

.red .Complain_card__title:hover {
  color: #bd150b;
}

.red .Complain_card__bar {
  background-color: #bd150b;
}

.red::before {
  background-image: linear-gradient(-30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.red:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.Complain_card .Complain_card__tagbox .yellow.play:hover {
  background: #bdbb49;
  color: black;
}

.yellow .Complain_card__title:hover {
  color: #bdbb49;
}

.yellow .Complain_card__bar {
  background-color: #bdbb49;
}

.yellow::before {
  background-image: linear-gradient(-30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

.yellow:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

@media screen and (min-width: 769px) {
  .green::before {
    background-image: linear-gradient(-80deg, rgba(121, 221, 9, 0.1), transparent 50%);
  }
  .green:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(121, 221, 9, 0.1), transparent 50%);
  }
  .blue::before {
    background-image: linear-gradient(-80deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }
  .blue:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }
  .red::before {
    background-image: linear-gradient(-80deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }
  .red:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }
  .yellow::before {
    background-image: linear-gradient(-80deg, rgba(189, 187, 73, 0.1), transparent 50%);
  }
  .yellow:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(189, 187, 73, 0.1), transparent 50%);
  }
}
/*# sourceMappingURL=card.css.map */