.footer{
	background: #121212;
	a{
		color: #fff;
	}
	p{
		color: rgba(255,255,255,.3);
	}
	.footer-heading{
		font-size: 30px;
		color: #fff;
		font-weight: 700;
		margin-bottom: 30px;
		.logo{
			color: #fff;
		}
	}
	.menu{
		margin-bottom: 30px;
		a{
			color: rgba(255,255,255,.6);
			margin: 0 10px;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}
	.ftco-footer-social{
		li{
			a{
				background: transparent;
				border: 1px solid rgba(255,255,255,.3);
			}
		}
	}
}