body {
    margin: 0;
    padding: 0;
    background-color: #d2d0d091;
}


// anchor tag
a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}

.clear{
	clear: both;
}

// color pallet 1
.color1 {
	color: #131922;
}
.color2 {
	color: #104052;
}
.color3 {
	color: #0c728e;
}
.color4 {
	color: #06b0d4;
}
.color5 {
	color: #5a96dcb7;
}



// Font Pallate
.head-font-1 {
	font-family: "Comfortaa", cursive;
}

.sub-head-font-2 {
	font-family: "Architects Daughter", cursive;
}

.text-font-1 {
	font-family: "Poppins", sans-serif;
}


// Font Size
.font-size-1 {
    font-size: 1.2rem;
}
.font-size-2 {
    font-size: 1.4rem;
}
.font-size-3 {
    font-size: 1.6rem;
}
.font-size-4 {
    font-size: 1.8rem;
}
.font-size-5 {
    font-size: 2rem;
}
.font-size-6 {
    font-size: 2.2rem;
}
.font-size-7 {
    font-size: 2.4rem;
}

